<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../layui/css/layui.css" />

    <script src="../js/jquery/jQuery-2.2.0.min.js"></script>
    <script src="../layui/layui.js"></script>

    <style>
        form {
            margin-top: 20px;
        }

        #div {
            width: 80%;
            margin: 0 auto;
        }
            h6{
                font-weight: bold;
                padding-left: 10px;
                line-height: 31px;
                border-bottom: 1px
                #ccc solid;
            }
        /*thead,tbody{
            border: 1px solid #e6e6e6;
        }*/


    </style>

</head>

<body style="background: white; margin: 0px auto;height: 100%">
<h6>查看报销单</h6>
<div id="div">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>基本信息</legend>
    </fieldset>
    <table class="layui-table" lay-even="" style="border: 1px solid #e6e6e6">
        <colgroup>
            <col width="150">
            <col width="150">
        </colgroup>

        <thead>
        <tr>
            <th>编号</th>
            <th>创建人</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${leave.id}"></span></td>
            <td><span th:text="${leave.createEmp.name}"></span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
            <th>部门</th>
            <th>职位</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span  th:text="${leave.createEmp.department.name}"></span></td>
            <td><span  th:text="${leave.createEmp.position.nameCn}"></span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
            <th>请假类型</th>
            <th>是否审批</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span  th:text="${leave.leaveType}"></span></td>
            <td><span  th:text="${leave.approveOpinion}"></span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
            <th>创建时间</th>
            <th>请假天数</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span  th:text="${#dates.format(leave.createTime,'yyyy-MM-dd')}"></span></td>
            <td><span  th:text="${leave.leaveDay}"></span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
            <th>开始时间</th>
            <th>结束时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span  th:text="${#dates.format(leave.startTime,'yyyy-MM-dd')}"></span></td>
            <td><span  th:text="${#dates.format(leave.endTime,'yyyy-MM-dd')}"></span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
            <th>状态</th>
            <th>待处理人</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span  th:text="${leave.status}"></span></td>
            <td><span  th:text="${leave.nextEmp.name}"></span></td>
        </tr>
        </tbody>

    </table>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>请假描述</legend>
    </fieldset>

    <table class="layui-table" lay-even="" lay-skin="nob">
        <colgroup>
            <col width="150">
        </colgroup>
        <thead>
        <tr>
            <th>请假原因</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div th:text="${leave.reason}">
                </div>
            </td>

        </tr>
        </tbody>



    </table>

    <!--<div th:if="${#lists.size(checkResultList2)!=0}">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
            <legend>部门经理审核</legend>
        </fieldset>

        <table class="layui-table" lay-even="" lay-skin="row" th:each="checkResult:${checkResultList2}">
        <colgroup>
            <col width="150">
            <col width="150">
        </colgroup>

        <thead>
        <tr>
            <th>审核人</th>
            <th>审核时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${checkResult.employee.name}"></span></td>
            <td><span th:text="${#dates.format(checkResult.checkTime,'yyyy-MM-dd')}"></span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
            <th>审核结果</th>
            <th>审核意见</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${checkResult.result}"></span></td>
            <td><span th:text="${checkResult.comm}"></span></td>
        </tr>
        </tbody>

    </table>
    </div>

    <div th:if="${#lists.size(checkResultList3)!=0}">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>总经理审核</legend>
    </fieldset>

        <table class="layui-table" lay-even="" lay-skin="row" th:each="checkResult:${checkResultList3}">
        <colgroup>
            <col width="150">
            <col width="150">
        </colgroup>

        <thead>
        <tr>
            <th>审核人</th>
            <th>审核时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${checkResult.employee.name}"></span></td>
            <td><span th:text="${#dates.format(checkResult.checkTime,'yyyy-MM-dd')}"></span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
            <th>审核结果</th>
            <th>审核意见</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${checkResult.result}">平台研发部</span></td>
            <td><span th:text="${checkResult.comm}">部门经理</span></td>
        </tr>
        </tbody>

    </table>
    </div>


    <div th:if="${#lists.size(checkResultList4)!=0}">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
            <legend>财务审核</legend>
        </fieldset>

        <table class="layui-table" lay-even="" lay-skin="row" th:each="checkResult:${checkResultList4}">
            <colgroup>
                <col width="150">
                <col width="150">
            </colgroup>

            <thead>
            <tr>
                <th>审核人</th>
                <th>审核时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${checkResult.employee.name}"></span></td>
                <td><span th:text="${#dates.format(checkResult.checkTime,'yyyy-MM-dd')}"></span></td>
            </tr>
            </tbody>

            <thead>
            <tr>
                <th>审核结果</th>
                <th>审核意见</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${checkResult.result}">财务部</span></td>
                <td><span th:text="${checkResult.comm}">财务</span></td>
            </tr>
            </tbody>

        </table>
    </div>-->

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <!--<legend>报销项目</legend>-->
    </fieldset>

    <div style="margin-left: 40%;"><button class="layui-btn" onclick="javascript:closes();" style="background: red;">返回</button></div>

</div>

<script>
    //Demo
    layui.use('form', function() {
        var form = layui.form;
    });
    function closes() {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index);
    }
</script>
</body>

</html>