<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8" />
    <title>审核报销单</title>


    <link rel="stylesheet" href="../layui/css/layui.css" />

    <script src="../js/jquery/jQuery-2.2.0.min.js"></script>
    <script src="../layui/layui.js"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>

    <style>
        form {
            margin-top: 20px;
        }
        .layui-layer-dialog{margin: -300px -40px;}
        .layui-layer-title {
            background:
                    #D91715 !important;
            background-color:
                    rgb(217, 23, 21);
            background-position-x: 0%;
            background-position-y: 0%;
            background-repeat: repeat;
            background-attachment: scroll;
            background-image: none;
            background-size: auto;
            background-origin: padding-box;
            background-clip: border-box;
            padding: 0 !important;
            text-align: center;
            color:
                    white !important;
            font-size: 15px !important;
        }
        .layui-layer-btn .layui-layer-btn0 {
            background:
                    #D91715 !important;
            border-color:
                    #D91715 !important;
        }

        #div {
            width: 80%;
            margin: 0 auto;
        }
            h6{
                font-weight: bold;
                padding-left: 10px;
                line-height: 31px;
                border-bottom: 1px
                #ccc solid;
            }
    </style>

</head>

<body style="background: white; margin: 0px auto;height: 100%">
<h6>审核报销单</h6>
<div id="div" th:if="${claimVoucher!=null && null!=employee}">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>基本信息</legend>
    </fieldset>

    <table class="layui-table" lay-even=""  style="border: 1px solid #e6e6e6">
        <colgroup>
            <col width="150">
            <col width="150">
        </colgroup>

        <thead>
        <tr>
            <th>编号</th>
            <th>填写人</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${claimVoucher.id}" id="claimId" name="claimId" th:value="${claimVoucher.id}"></span></td>
            <td><span th:text="${employee.name}"></span><input th:value="${employee.sn}" type="hidden" id="sn"/></td>
        </tr>
        </tbody>

        <thead>
        <tr>
            <th>部门</th>
            <th>职位</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span  th:text="${employee.department.name}"></span></td>
            <td><span  th:text="${employee.position.nameCn}"></span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
            <th>填报时间</th>
            <th>总金额</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span  th:text="${#dates.format(claimVoucher.createTime,'yyyy-MM-dd')}"></span></td>
            <td><span  th:text="${claimVoucher.totalAccount}" th:value="${claimVoucher.totalAccount}" id="totalAccount"></span></td>
        </tr>
        </tbody>

        <thead>
        <tr>
            <th>状态</th>
            <th>待处理人</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span  th:text="${claimVoucher.status}"></span></td>
            <td><span  th:text="${claimVoucher.nextName}"></span></td>
        </tr>
        </tbody>

    </table>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>报销项目</legend>
    </fieldset>

    <table class="layui-table" style="width: 600px;margin-left: 120px;">
        <thead>
        <tr>
            <th><label class="layui-form-label" style="height: 12px;margin: 0 auto;font-weight: bold">项目类别</label></th>
            <th><label class="layui-form-label" style="height: 12px;margin: 0 auto;font-weight: bold">项目金额</label></th>
            <th><label class="layui-form-label" style="height: 12px;margin: 0 auto;font-weight: bold">费用说明</label></th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="claimVoucherDetail:${claimVoucher.detailList}">
            <td><span th:text="${claimVoucherDetail.item}"></span></td>
            <td><span th:text="${claimVoucherDetail.account}"></span></td>
            <td><span th:text="${claimVoucherDetail.des}"></span></td>
        </tr>
        </tbody>
    </table>



    <div th:if="${#lists.size(checkResultList2)!=0}">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
            <legend>部门经理审核</legend>
        </fieldset>

        <table class="layui-table" lay-even=""  style="border: 1px solid #e6e6e6" th:each="checkResult:${checkResultList2}">
            <colgroup>
                <col width="150">
                <col width="150">
            </colgroup>

            <thead>
            <tr>
                <th>审核人</th>
                <th>审核时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${checkResult.employee.name}"></span></td>
                <td><span th:text="${#dates.format(checkResult.checkTime,'yyyy-MM-dd')}"></span></td>
            </tr>
            </tbody>

            <thead>
            <tr>
                <th>审核结果</th>
                <th>审核意见</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${checkResult.result}"></span></td>
                <td><span th:text="${checkResult.comm}"></span></td>
            </tr>
            </tbody>

        </table>
    </div>

    <div th:if="${#lists.size(checkResultList3)!=0}">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
            <legend>总经理审核</legend>
        </fieldset>

        <table class="layui-table" lay-even=""  style="border: 1px solid #e6e6e6" th:each="checkResult:${checkResultList3}">
            <colgroup>
                <col width="150">
                <col width="150">
            </colgroup>

            <thead>
            <tr>
                <th>审核人</th>
                <th>审核时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${checkResult.employee.name}"></span></td>
                <td><span th:text="${#dates.format(checkResult.checkTime,'yyyy-MM-dd')}"></span></td>
            </tr>
            </tbody>

            <thead>
            <tr>
                <th>审核结果</th>
                <th>审核意见</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${checkResult.result}">平台研发部</span></td>
                <td><span th:text="${checkResult.comm}">部门经理</span></td>
            </tr>
            </tbody>

        </table>
    </div>


    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>审核报销</legend>
    </fieldset>

    <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"  style="font-weight: bold;font-size: 14px;">审核意见</label>
            <div class="layui-input-block" style="width: 800px;">
                <textarea required="required" name="comm" id="comm" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;"></fieldset>

    <div style="margin-left: 30%;">
        <button class="layui-btn" id="pass" style="background: red;">审批通过</button>
        <button class="layui-btn" id="refuse" style="background: red;" th:if="${4!=session.employee.positionId}">审批拒绝</button>
        <button class="layui-btn" id="return" style="background: red;" th:if="${4!=session.employee.positionId}">审批打回</button>
        <button class="layui-btn" onclick="javascript:closes();" style="background: red;">返回</button>
    </div>

</div>

<script>
    //Demo
    layui.use('form', function() {
        var form = layui.form;
    });

    function closes() {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index);
    }

    $("#pass").click(function () {
            layer.confirm('确定审批通过吗?', function(index){
            var claimId=$("#claimId").html();
            var sn=$("#sn").val();
            var result="通过";
            var comm=$("#comm").val();
            var totalAccount=$("#totalAccount").html();
            var url="/claimVoucher/auditClaimVoucher?claimId="+claimId+"&result="+result+"&comm="+comm+"&sn="+sn+"&totalAccount="+totalAccount;
            add(url);
        })
    })

    $("#refuse").click(function () {
        layer.confirm('确定审批拒绝吗?', function(index){
            var claimId=$("#claimId").html();
            var result="拒绝";
            var comm=$("#comm").val();
            var url="/claimVoucher/auditClaimVoucher?claimId="+claimId+"&result="+result+"&comm="+comm+"&sn="+null+"&totalAccount="+null;
            add(url);
        })
    })

    $("#return").click(function () {
        layer.confirm('确定审批打回吗?', function(index){
            var claimId=$("#claimId").html();
            var result="打回";
            var comm=$("#comm").val();
            var sn=$("#sn").val();
            var url="/claimVoucher/auditClaimVoucher?claimId="+claimId+"&result="+result+"&comm="+comm+"&sn="+sn+"&totalAccount="+null;;
            add(url);
        })
    })

    function add(url) {
        $.ajax({
            url:url,
            type:"get",
            dataType:"text",
            success:function(data){
                if(data=="no") {
                    layer.alert("审核失败!",function () {
                        xadmin.father_reload();
                    });
                }else{
                    layer.alert("审核已"+data+"!",function () {
                        xadmin.father_reload();
                    });
                }
            }
        })
    }



</script>
</body>

</html>